.cart{
    font-size: 42px;
    font-weight: 500;
    color: white;
    background-color: #175980;
}

.carritoLista{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carritoItem{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: auto;
    height: auto;
    padding: 10px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #F5F5F5;
    list-style-type: none;
}

.eliminarProducto{    
    padding: .3vw;
    background-color: #ff4242;
    border: 1px solid #ffffff;
    border-radius: 10px;
    transition: ease-in 0.1s;
    color: #fdfdfd;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 27%);
    margin: 10px;
}

.eliminarProducto:hover{
    background-color: #fdfdfd;
    color: #ff4242;
    border: 1px solid #ff4242;
    font-weight: 700;
}

.vaciarCarrito{
    padding: 6px;
    background-color: #F5F5F5;
    bottom: 100px;
    border: 1px solid #645DD7;
    border-radius: 10px;
    transition: ease-in 0.1s;
    color: #645DD7;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 27%);
    margin: 10px; 
}

.vaciarCarrito:hover{
    background-color: #645DD7;
    color: #F5F5F5;
}

.finalizarCompra{
    padding: 6px;
    background-color: #F5F5F5;
    bottom: 100px;
    border: 1px solid #2fac78;
    border-radius: 10px;
    transition: ease-in 0.1s;
    color: #2fac78;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 27%); 
    margin: 10px;
}

.finalizarCompra:hover{
    background-color: #2fac78;
    color: #F5F5F5;
}

.carritoVacio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sinProductos{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     width: 400px;
    height: auto;
    padding: 10px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    border-radius: 20px;
    background-color: #F5F5F5;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.volverInicio{
    padding: 6px;
    background-color: #F5F5F5;
    bottom: 100px;
    border: 1px solid #2078dd;
    border-radius: 10px;
    transition: ease-in 0.1s;
    color: #2078dd;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 27%); 
    margin: 10px;
}

.volverInicio:hover{
    background-color: #2078dd;
    color: #F5F5F5;
}

.itemInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.img{
    width: 20%;
    border-radius: 10px;
}

.botonContacto{
    padding: 6px;
    background-color: #F5F5F5;
    bottom: 100px;
    border: 1px solid #FF4242;
    border-radius: 10px;
    transition: ease-in 0.1s;
    color: #FF4242;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 1px 1px 3px 2px rgb(0 0 0 / 27%); 
    margin: 10px;
}

.botonContacto:hover{
    background-color: #FF4242;
    color: #F5F5F5;

}