@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap');


.botonera{
    background-color: #39393a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.boton{
    margin: 1%;
}

.logo{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.7vw;
    color: #E6E6E6;
    margin: 1%;
    text-decoration: none;
}

.categorias{
    width: auto;
    padding: 12px;
    font-size: 2vw;
    background: #ff8552;
    border-radius: 8px;
    text-decoration: none;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    transition: ease-in 0.1s;
}

.categorias:hover{
    border: 0.3vw solid #E6E6E6;
}

.categoriaActiva{
    width: auto;
    padding: 12px;
    font-size: 2vw;
    background: #0f8b8d;
    border-radius: 8px;
    text-decoration: none;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
    transition: ease-in 0.1s;
}

.categoriaActiva:hover{
    border: 0.3vw solid #E6E6E6;
}