@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

.Card{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: 10px 50px;
    width: 400px;
    height: auto;
    padding: 10px 10px;
    border-radius: 20px;
    background-color: #F5F5F5;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.5rem;
    transition: ease-in 0.2s;
}

.Card:hover{
    box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.71) 0px -2px 15px 0px inset;
}

.fotoProducto{
    width: 400px;
    border-radius: 10%;
}

.product-price{
    bottom: 100px;
    border: 1px solid black;
    width: 250px;
    margin-left: 18%;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in 0.1s;

}

.product-price:hover{
    background-color: black;
    color: white;
}

.comprar{
    bottom: 100px;
    border: 1px solid rgb(32, 221, 79);
    width: 250px;
    margin-left: 18%;
    padding: 5px;
    border-radius: 10px;
    transition: ease-in 0.1s;
}

.comprar:hover{
    background-color: rgb(32, 221, 79);
    color: white;
}
.nombreCamiseta{
    font-weight: 1000;
    font-family: 'Nunito', sans-serif;
}